<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listagem de Livros</title>
  </head>
  <body>
    <h1>esta é a pagina de listagem</h1>
    <a href="{% url 'criar_livro' %}"> Adicionar Livro</a>
    <table>
      <thead>
        <tr>
          <th>imagem</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Autor</th>
          <th>data de publicação</th>
          <th>Quantidade de paginas</th>
          <th>ações</th>
        </tr>
      </thead>
      <tbody>
        {% for item in lista %}
        <tr>
          <td>
            <img src="{{ item.book_cover }}" width="100px" alt="book_cover" />
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.publication_date }}</td>
          <td>{{ item.pages }}</td>
          <td>
            <a href="{% url 'atualizar_livro' item.id %}">editar</a>
            <a href="{% url 'deletar_livro' item.id %}">deletar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
